body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  background-color: #f0f2f5;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.section-title-2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

#landing_page_content > div {
  margin-top: 80px;
  margin-bottom: 80px;
}
